#productinformatie{
	display: none;
}
#zoekresultatenlijst{
	display: none;
}
#winkelmandje{
	display: none;
}
#orderbevestigen{
	display: none;
}
#hideButton{
	display: none;
}
#afgerond{
	display: none;
}
#table3 {
	text-align: left;
	padding: 8px;
}
#table4 {
	text-align: left;
	padding: 8px;
}
